{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}


    <h1>Profil</h1>

    {{ form_start}}


    {{ form_widget}}


    <button type="submit" class="btn">Modifier</button>
    <button type="submit" class="btn">Enregistrer</button>


    {{form_end}}

{% endblock %}