{% extends 'base.html.twig' %}

{% block title %}
    Creation d'une sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div class="formulaire">
        {{ form_start(CreerSortieForm) }}
        {{ form_widget(CreerSortieForm) }}
        <button type="submit" class="btn">Créer une sortie</button>
        {{ form_end(CreerSortieForm) }}
    </div>


{% endblock %}




