{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<style>

</style>

<div class="">

    <h1>Mon Profil</h1>

    Bienvenue sur votre page profil:

       {#  {{ form (profilForm) }} #}

       {{ form_start(profilForm) }}
      {{ form_widget(profilForm) }}

    <button type="submit" class="btn">Enregistrer</button>
    <button type="submit" class="btn">Modifier</button>

    {{ form_end(profilForm) }}

</div>
{% endblock %}
