html {
    color: #333133;
    font-family: 'Raleway', sans-serif;
}

/* Pour laisser une marge de base de chaque côté de nos pages */
body {
    margin-left: 100px;
    margin-right: 100px;
}

h2 {
    font-size : 40px;
    color: #af8f61;
    text-align: center;
    margin-top: 100px
}

a {
    text-decoration: none
}



header {
    display: flex;
    flex-direction: row;
    height: 175px;
}

#logo {
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
}

#logo_sortir {
    width: 200px;
}
#resetPassword{margin-top: 120px}
#navbar {
    font-size:11px;
    color :#1c3956;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#navbar a {
    margin-left: 40px;
    font-size: 1.6em;
    color: midnightblue;
    text-decoration: none;
}

input, select {
    display: block;
    box-sizing: border-box;
    border: 1px solid #af8f61;
    min-width: 25%;
    max-width: 90%;
    width: 250px;
    left: 50%;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    font-size: 14px;
    color: #333133;
}

form {
    margin-top: 120px
}

label {
    margin-left: 150px;

}

button {
    display: block;
    border: 1px solid #af8f61;
    min-width: 20%;
    max-width: 90%;
    width: 250px;
    left: 50%;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
}

#infos {
    width: 15%;
    float: right;
    margin-top: -60px;
    font-size: 1.3em;
    line-height: 30px;
}

#filtrer_sorties {
    margin-top: 50px;

}


