html {
    color: #333133;
    font-family: 'Raleway', sans-serif;
}

/* Pour laisser une marge de base de chaque côté de nos pages */
body {
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-size: 2rem;
    color: #af8f61;
    text-align: center;
}


h2 {
    font-size: 40px;
    color: #af8f61;
    text-align: center;
    margin-top: 100px
}

h3 {
    font-size: 2em;
    color: #1c3956;
    margin-top: 50px;
}

a {
    text-decoration: none
}


header {
    display: flex;
    flex-direction: row;
    height: 145px;
}

#logo_sortir {
    margin-top: auto;
    margin-bottom: auto;
    width: 35%;
}

#checkmail {
    margin-top: 150px
}

#resetPassword {
    margin-top: 120px
}

#navbar {
    font-size: 11px;
    color: #1c3956;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#navbar a {
    margin-left: 40px;
    color: #1c3956;
    font-size: 1.6em;
    text-decoration: none;
}

#inscriptionSortie {
    margin-top: 200px
}

.formulaire input, select, textarea {
    display: block;
    box-sizing: border-box;
    border: 1px solid #af8f61;
    width: 400px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto 20px auto;
    font-size: 1em;
    color: #333133;
}

form {
    margin-top: 50px
}

label {
    display: block;
    box-sizing: border-box;
    width: 400px;
    margin: auto;
    padding-bottom: 5px;
    font-size: 1em;
    color: #333133;
}

#remember_me label{
    text-align: end;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    width : 400px;
}

#chk {
    transform: scale(0.5);
    margin-right: -120px;
    margin-top: -8px;
    padding: 0;
}

input[type=checkbox] {
    transform: scale(1.3);
    margin-right: 20px;
    margin-bottom: 50px;
}

button {
    display: block;
    border: 1px solid #af8f61;
    min-width: 20%;
    max-width: 90%;
    width: 220px;
    left: 50%;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0 auto 10px auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

button:hover {
    cursor: pointer;
    background-color: #1c3956;
    color: white;
}

#forgot_pwd {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
}


#infos {
    width: 20%;
    float: right;
    margin-top: -60px;
    font-size: 1.2em;
    line-height: 30px;
}

/* RECHERCHE DE SORTIES */
#rechercher_sorties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-top: -30px;
}

#left_searchForm {
    grid-column: 1;
    grid-row: 1;
}

#right_searchForm {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: auto;
    margin-top: 100px;
}

#btn_rechercher {
    grid-column: 3;
    grid-row: 1;
    margin-top: auto;
    margin-bottom: auto;
}

#left_searchForm label {
    margin-left: 0;
}

#left_searchForm select, input {
    display: block;
    box-sizing: border-box;
    margin-left: 0;
    margin-bottom: 20px;
    width: 300px;
    height: 35px;
    font-size: 0.8em;
    border: 1px solid #af8f61;
    border-radius: 10px;
}

#left_searchForm form {
    margin-top: 50px;
}

#right_searchForm div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#right_searchForm input {
    height: 15px;
    margin-bottom: 40px;
    margin-left: -100px;

}

#messagesFlashes {
    margin-top: 50px
}

/* TABLEAU DE RESULTATS DES SORTIES */
table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#inscriptionSortie {
    margin-top: 300px
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    line-height: 30px;
    width: 200px;
}

th {
    background-color: #af8f61;
}

table tr:nth-child(odd) {
    background-color: rgba(28, 57, 86, 0.4);
}

tr:nth-child(even) {
    background-color: rgba(28, 57, 86, 0.2);
}
#messagesFlashes {
    margin-top: 50px;
}

.wrapper {
    padding-top : 50px;
}

p {
    height : 10px;
}

