{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Erreur 404{% endblock %}

{% block body %}
    <h2>Page introuvable !</h2>
    <h4>La page demandée est introuvable</h4>
    <br>
    <div class="imgErreur">
        <img src="{{ asset('img/404.png') }}" alt="erreur404" title="Page introuvable" id="robot404">
    </div>

{% endblock %}

